@model RASCHET_HASHODOV.Models.ExpenseReport

<h2>Детали отчета о расходах за @Model.Period</h2>

<p><strong>Общая сумма расходов:</strong> @Model.TotalAmount ₽</p>

<a href="@Url.Action("Index", "ExpenseReport")" class="btn btn-primary">Назад</a>
